* {
    font-family: 'Roboto';
}

header{
  background: #1F2937;

}

.container {
  display: flex;
  /* flex-direction: column; */

}

.Logo{
  color: #F9FAF8;
}

.nav {
  display: flex;
  /* flex-direction: column; */
}

.nav-list {
  display: flex;
  list-style: none;
  /* flex-direction: column; */
}

